@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* fonts */
  --font-monda: "Monda", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* colors */
  --color-background: var(--background);
  --color-gray: var(--gray);
  --color-gray-muted: var(--gray-muted);
  --color-text: var(--text);
  --color-accent-blue: var(--blue);
  --color-accent-brown: var(--brown);
}

:root {
  --background: #f8f9fa;
  --gray: #9ca3af;
  --gray-muted: #6b7280;
  --text: #111111;
  --blue: #2563eb;
  --brown: #7b3f00;
}

.dark {
  --background: #1e293b;
  --text: #f1f5f9;
  --blue: #3b82f6;
  --brown: #d97706;
}

/* Global Reset  */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  transition-delay: 9999s !important;
  transition-property: background-color, color !important;
}

body {
  font-size: 1.3rem;
  font-family: var(--font-inter);
  background-color: var(--color-background);
}

button {
  cursor: pointer;
  outline: none;
}

button:disabled {
  cursor: not-allowed;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
